* {
    margin: 0;
    padding: 0;
    // outline: 1px solid black;
}

body {
    margin: 0 auto;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}


.index {
    .banner{
        filter: grayscale(70%);
        -webkit-filter: grayscale(70%);

        .banner1{
            /* The image used */
            background-image: url("/img/view1.jpg");
        
            /* Center and scale the image nicely */
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
    
            /* Add the blur effect */
            // filter: blur(8px);
            // -webkit-filter: blur(8px);
    
            /* Full height */
            width: 100%;
            height: 100vh;
        }
        .banner2{
            /* The image used */
            background-image: url("/img/view9.jpg");
        
            /* Center and scale the image nicely */
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
    
            /* Add the blur effect */
            filter: blur(8px);
            -webkit-filter: blur(8px);
    
            /* Full height */
            width: 100%;
            height: 120vh;
        }
        .banner3{
            /* The image used */
            background-image: url("/img/view6.jpg");
        
            /* Center and scale the image nicely */
            background-position: center;
            background-attachment: scroll;
            background-repeat: no-repeat;
            background-size: cover;
    
            /* Add the blur effect */
            // filter: blur(8px);
            // -webkit-filter: blur(8px);
    
            /* Full height */
            width: 100%;
            height: 200vh;
        }
        .banner4{
            /* The image used */
            background-image: url("/img/view9.jpg");
        
            /* Center and scale the image nicely */
            background-position:bottom;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
    
            /* Add the blur effect */
            filter: blur(8px);
            -webkit-filter: blur(8px);
    
            /* Full height */
            width: 100%;
            height: 90vh;
        }
    }

    
    .header {
        display: flex;
        height: 4rem;
        justify-content: center;
        align-items: center;
        background-color: rgb(71, 88, 126);

        a {
            margin: 0 2rem;
            font-size: larger;
            text-decoration: none;
            color: transparent;
            background: #ffe4e4;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            // text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);

            &:hover {
                color: white;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;
                text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
            }
        }
    }

    .footer {
        display: flex;
        height: 5rem;
        justify-content: center;
        align-items: center;
        background-color: rgb(71, 88, 126);
    }
}