// -------------------RWD-----------------------
@mixin part1 {
    @media screen and(max-width:890px) {
        @content;
    }
}

@mixin pad {
    @media screen and(max-width:768px) {
        @content;
    }
}

@mixin mobile {
    @media screen and(max-width:375px) {
        @content;
    }
}

// ----------------------------------------------


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // outline: 3px solid black;
}

body {
    margin: 0 auto;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}


.index {
    user-select: none;

    .header {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 5;
        display: flex;
        margin: 0 auto;
        align-items: center;
        height: 4rem;
        background-color: #476147;
        // position: relative;
        
        .logo {
            margin-left: 2rem;
            font-size: 3rem;
            // font-family: 'Satisfy', cursive;
            -webkit-text-stroke: 1px rgb(255, 255, 254);
            -webkit-text-fill-color: transparent;
        }

        .menu {
            display: flex;
            margin: 0 auto;
    
            li {
                list-style: none;
    
                a {
                    padding: 0 0 0 0.5rem;
                    margin: 0 2rem;
                    font-size: 1.3rem;
                    text-decoration: none;
                    border-left: 3px solid rgba(39, 66, 46, 0.747);
                    color: rgb(192, 192, 192);
                    background: #ffe4e4;
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    background-clip: text;
    
                    &:hover {
                        font-size: 1.4rem;
                        color: rgb(255, 255, 255);
                        -webkit-background-clip: text;
                        -moz-background-clip: text;
                        background-clip: text;
                        transition: 200ms;
    
                        border-left: 3px solid rgba(121, 231, 150, 0.747);
                        // font-size: 1.3rem;
                    }
                }
            }
        }

        .container {
            visibility: hidden;
            display: block;
            cursor: pointer;
            position: absolute;
            width: 4rem;
            right: 1rem;;
            // margin-left: 60%;
            // padding-left: 20rem;
            // background-color: #ffe4e4;
        }
        .bar1,
        .bar2,
        .bar3 {
            width: 35px;
            height: 5px;
            background-color: rgb(141, 175, 146);
            margin: 6px 0;
            transition: 0.3s;
        }

        .change .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
        }

        .change .bar2 {
            opacity: 0;
        }

        .change .bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-8px, -8px);
        }
        
        //------------------ header 響應式----------------
            @include part1 {
            
                    .container{
                        visibility: visible;
                    }
            
                    .menu {
                        display: inline-block;
                        // visibility: hidden;
                        position: absolute;
                        width: 100%;
                        top: 4rem;
                        background: #2d442d;
                        z-index: 100;
            
                        li {
                            display: flex;
                            justify-content: center;
                            margin: 2rem auto ;
                            // padding: 0 2rem 2rem 2rem;
                            padding-bottom: 1.5rem;
                            border-bottom: 1px solid #475f45;
                            
                            a {
                                font-size: 1.5rem;
                                transition: all 0.3s;
                                border-left: 3px solid rgba(140, 148, 144, 0.747);
                                &:hover {
                                    font-size: 2rem;
                                    color: #fff;
                                }
                            }
                        }
                    }
            }
    }


    

    //---------------背景圖---------------------
    .banner {
        /* The banner filter */
        // filter:invert(50%);
        filter: grayscale(50%);
        -webkit-filter: grayscale(50%);
        width: 100%;

        .banner1 {
            /* The image used */
            background-image: url("../img/coffee4.jpg");
            // background-image: url("/img/view6.jpg");

            /* Center and scale the image nicely */
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;

            /* Add the blur effect */
            // filter: blur(8px);
            // -webkit-filter: blur(8px);

            /* Full height */
            width: 100%;
            height: 95rem;


        }

        .banner2 {
            position: relative;
            /* The image used */
            background-image: url("../img/coffee2.jpg");

            /* Center and scale the image nicely */
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;

            /* Add the blur effect */
            // filter: blur(8px);
            // -webkit-filter: blur(8px);

            /* Full height */
            width: 100%;
            height: 105rem;
        }

        .banner3 {
            /* The image used */
            background-image: url("../img/coffee6.jpg");

            /* Center and scale the image nicely */
            background-position: center;
            background-attachment: scroll;
            background-repeat: no-repeat;
            background-size: cover;

            /* Full height */
            width: 100%;
            height: 243rem;
        }

        .banner4 {
            /* The image used */
            background-image: url("../img/coffee8.jpg");

            /* Center and scale the image nicely */
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;

            /* Add the blur effect */
            // filter: blur(8px);
            // -webkit-filter: blur(8px);

            /* Full height */
            width: 100%;
            height: 30rem;
        }
    }


    //---------------內文-----------------------

    //-------------banner1----------------
    .HOME {
        position: absolute;
        display: flex;
        z-index: 3;
        top: 35rem;
        right: 50%;
        transform: translate(50%, -50%);
        width: 72rem;
        height: 44rem;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        background-color: #487448cc;

        @include part1{
            width: 80%;
            display: inline;
        }
        
        // outline: 1px solid rgb(255, 255, 255);
        h1 {
            padding: 1rem;
            user-select: none;
            color: #ffe4e4;
            font-size: 10rem;
            @include part1{
                font-size: 5rem;
                margin-left: 2rem;
                &:first-child{margin-bottom: -4rem;}
            }
        }

        span {
            padding: 1rem;
            -webkit-text-stroke: 1.5px rgb(255, 255, 254);
            -webkit-text-fill-color: transparent;
        }

        .pic {
            background-image: url("../img/huei.jpg");
            background-size: cover;
            background-position: 27% 0px;
            width: 50rem;
            height: 100%;
            border-top-right-radius: 30px;
            border-left: 5px solid rgb(255, 255, 255);
            
            @include part1{
                width: 100%;
                height: 30rem;
                border-top: 5px solid rgb(255, 255, 255);
                border-left: 0;
                border-top-right-radius: 0px;
                border-bottom-left-radius: 30px;
            }
            @include mobile{
                height: 23.5rem;
            }
        }
        
        @media(max-width:703px) {
            .pic{height: 23.5rem;}
        }
    }

    .introduce {
        position: absolute;
        z-index: 3;
        padding: 5rem 0 2rem 0;
        top: 95rem;
        right: 50%;
        transform: translate(50%, -50%);
        width: 58rem;
        height:fit-content;
        height:-webkit-fit-content;
        height:-moz-fit-content;
        background-color: #487448f3;
        box-shadow: rgba(10, 9, 9, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

        @include part1{
            width: 80%;
            // height: 49rem;
        }

        .title {
            // font-family: 'Satisfy', cursive;
            -webkit-text-stroke: 1px rgb(255, 255, 254);
            -webkit-text-fill-color: transparent;
            text-align: center;
            height: 4rem;
            font-size: 7rem;
            color: #ffe4e4;
            user-select: none;
        }

        .container {
            user-select: none;
            color: #ffe4e4;
            font-weight: 500;
            @include part1{
                // width: 100%;
            }
            ul{
                width: 100%;
                li {
                    list-style: none;
                    font-size: 1.3rem;
                    font-weight: bold;
                    margin-top: 0.5rem;
                }
            }
            
            p {
                margin: 2rem 0 3rem 0;
                font-size: 1.7rem;
                @include part1{
                    // margin-bottom: 2rem;
                }
            }
        }
    }


    //--------------banner2----------------
    //--------------01----------------
    .PROFESSIONAL {
        position: absolute;
        margin-top: 3rem;
        top: 40rem;
        right: 50%;
        width: 50rem;
        // word-wrap: break-word;
        height: 20rem;
        padding: 1rem;
        transform: translate(50%, -50%);
        outline: 3px solid rgb(255, 255, 255);
        color: #ffe4e4;

        h1 {
            font-size: 6rem;
            &:nth-child(2){ margin-top: -1rem;}
        }

        p {
            // margin-top: 2rem;
            font-size: 1.5rem;
        }
        @include part1{
            background-color: #8b8b8b;
            width: 80%;
            height: 18rem;
            h1{ 
                font-size: 5rem; 
                &:nth-child(2){
                    background-color: red;
                    font-size: 5rem;
                }
            }
        }
        @include mobile{
            top: 50rem;
            background-color: #ffb4b4;
            height: 15rem;
            
            h1{
                font-size: 2rem;
                &:nth-child(2){
                    background-color: rgb(124, 96, 96);
                    font-size: 2rem;
                }
            }
            p{font-size: 10px;}
        }

        //-------------------進度條-------------------------
        #progressBar {
            margin-top: 7rem;
            padding: 2rem 1rem;
            width: 100%;
            height: 32rem;
            background-color: rgba(97, 97, 97, 0.233);

            .item {
                // width: 30rem;
                display: flex;
                align-items: center;
                width: 100%;
                height: 4.5rem;

                .label {
                    flex-grow: 1;
                    width: 18rem;
                    text-align: left;
                    font-size: 3rem;
                }

                .bar {
                    flex-grow: 9;
                    width: 13rem;
                }
            }
            @include part1{
                height: 45rem;
                .item{
                    display: inline;
                    // height: 1rem;
                    .label{
                        height: 2.5rem;
                        margin: 1rem 0;
                    }
                    .bar{
                        width: 100%;
                        padding-bottom: 2rem;
                    }
                }
    
            }

        }


    }

    // ---------banner3------------
    // ------------02------------
    .portfolio {
        position: absolute;
        top: 220rem;
        right: 50%;
        width: 50rem;
        height: 18rem;
        padding: 1rem;
        transform: translate(50%, -50%);
        outline: 3px solid rgb(255, 255, 255);
        color: #ffe4e4;
        @include pad{
            width: 90%;
        }
        h1 {
            font-size: 6rem;
            margin-top:-1.5rem;
            @include pad{
                font-size: 4rem;
            }
        }
        p {
            font-size: 1.5rem;
            @include pad{
                font-size: 0.5rem;
            }
        }
        button {
            position: relative;
            width: 50%;
            // margin: 0 auto;
            background-color:rgba(255, 255, 255, 0.562);
            transform: translate(50%, -50%);
            top: 50rem;
            &:hover{
                background-color:rgb(255, 255, 255);
            }
        }

    }

    // -----------輪播--------------
    #carouselExampleControls {
        position: absolute;
        top: 255rem;
        right: 50%;
        width: 60rem;
        height: 50rem;
        transform: translate(50%, -50%);
        display: flex;
        align-items: center;
        @include pad{
            background-color: #fff;
            width: 90%;
            height: 5%;
        }

        .carousel-inner {
            width: 100%;
        }
    }

    // -------------------03---------------------
    .experience {
        position: absolute;
        top: 307rem;
        right: 50%;
        width: 50rem;
        height: 10rem;
        padding: 1rem;
        transform: translate(50%, -50%);
        // background-color: #2a442ad3;
        outline: 3px solid rgb(255, 255, 255);
        color: #ffe4e4;

        h1 {
            font-size: 6rem;
        }

        p {
            font-size: 1.5rem;
        }

        .autumn.leaf {
            width: 6rem;
            height: 4rem;
            background-color: aqua;
        }


        //-------------------03經驗-------------------------
        /* The actual timeline (the vertical ruler) */
        .timeline {
            position: relative;
            max-width: 50rem;
            margin: 5rem auto;
            // background-color: #FF9F55;
            /* The actual timeline (the vertical ruler) */
            &::after{
                content: '';
                position: absolute;
                width: 7px;
                background-color: rgb(197, 202, 199);
                top: 0;
                bottom: 0;
                left: 50%;
            }
            .area{
                width: 100%;
                // background-color: #ffb4b4;
                /* Container around content */
                .container {
                    position: relative;
                    width: 50%;
                    padding: 10px 40px;
                    margin-right: 200rem;
                    background-color: inherit;
        
                    p {
                        margin-top: -1.5rem;
                        font-size: 1.2rem;
                    }
        
                    li {
                        margin: 1rem 0;
                        font-size: 1.3rem;
                        font-weight: 600;
                    }
                }
        
                /* The circles on the timeline */
                .container::after {
                    content: '';
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    right: -17px;
                    background-color: rgb(84, 180, 110);
                    border: 4px solid #3e912c;
                    top: 15px;
                    border-radius: 50%;
                    z-index: 1;
                }
                /* Fix the circle for containers on the right side */
                .right::after {
                    left: -13px;
                }
        
                /* Place the container to the left */
                .left {
                    left: 0;
                }
        
                /* Place the container to the right */
                .right {
                    left: 50%;
                }
        
                /* Add arrows to the left container (pointing right) */
                .left::before {
                    content: " ";
                    height: 0;
                    position: absolute;
                    top: 22px;
                    width: 0;
                    z-index: 1;
                    right: 32px;
                    border: medium solid white;
                    border-width: 10px 0 10px 10px;
                    border-color: transparent transparent transparent rgb(38, 122, 66);
                }
        
                /* Add arrows to the right container (pointing left) */
                .right::before {
                    content: " ";
                    height: 0;
                    position: absolute;
                    top: 22px;
                    width: 0;
                    z-index: 1;
                    left: 30px;
                    border: medium solid white;
                    border-width: 10px 10px 10px 0;
                    border-color: transparent rgb(38, 122, 66) transparent transparent;
                }
        
        
                /* The actual content */
                .content {
                    width: 18.3rem;
                    padding: 20px 20px;
                    background-color: rgb(38, 122, 66);
                    position: relative;
                    border-radius: 6px;
                }
        
                /* Media queries - Responsive timeline on screens less than 600px wide */

            }

            @include part1{
                background-color: #ffb4b4;
                margin: 0 auto;
                width: 90%;
                
            }
            @include pad{
                background-color: #b62323;
                width: 90%;
            }
            @include mobile{
                background-color: #b4fff9;
                width: 90%;
            }
    
        }

        


    }

    // -------------03------------

    // ---------banner4------------
    // ------------04------------
    .contact {
        position: absolute;
        display: flex;
        top: 443rem;
        right: 50%;
        width: 65rem;
        height: 38rem;
        padding: 4rem 2rem;
        transform: translate(50%, -50%);
        background-color: #2a442ad3;
        // outline: 1px solid rgb(255, 255, 255);
        color: #ffe4e4;
        
        .container {
            
            width: 50%;
            h3 {font-size: 6rem;}
            p {font-size: 1.5rem;}
            
        }
        
        .inputInform {
            width: 50%;
            margin-top: 1rem;
            #name {width: 50%;}
            #phone {width: 50%;}
            #email {width: 100%;}
            #message {width: 100%;}
            .btn-primary {margin-top: 1rem;}
            #textarea {margin-top: 1.5rem;}
        }

        @include part1{
            display: block;
            width: 80%;
            // background-color: #ffb4b4;
            height: 55rem;
            .container{
                width: 100%;  
                left: 1rem;
                margin-top: -3rem;
                h3{font-size: 5rem}
            }
            .inputInform{
                width: 100%;  
                margin: 2rem auto ;
                .btn{width: 100%;}
            }
        }
        @include pad{
            .container{
                h3{font-size: 4rem;}
            }
        }
        @include mobile{
            height: 58rem;
            .container{
                h3{font-size: 3rem;}
            }
        }

    }

    //---------------內文-----------------------


    .footer {
        display: flex;
        height: 5rem;
        justify-content: center;
        align-items: center;
        background-color: #122212c5;

        .logo {
            margin: 0 3rem;
            font-size: 3rem;
            // font-family: 'Satisfy', cursive;
            -webkit-text-stroke: 1px rgb(255, 255, 254);
            -webkit-text-fill-color: transparent;
        }

        span {
            margin-right: 5rem;
            color: white;
        }
    }
}