* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: bolder;
}

.index {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.index .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #203320c5;
}

.index .header .logo {
  margin-left: 2rem;
  font-size: 3rem;
  -webkit-text-stroke: 1px #fffffe;
  -webkit-text-fill-color: transparent;
}

.index .header .title {
  margin: 0 auto;
}

.index .header .title a {
  margin: 0 2rem;
  padding-left: 0.5rem;
  font-size: larger;
  text-decoration: none;
  border-left: 3px solid rgba(39, 66, 46, 0.747);
  color: silver;
  background: #ffe4e4;
  -webkit-background-clip: text;
  background-clip: text;
}

.index .header .title a:hover {
  color: white;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.index .banner {
  /* The banner filter */
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
  width: 100%;
}

.index .banner .banner1 {
  /* The image used */
  background-image: url("../img/coffee4.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* Add the blur effect */
  /* Full height */
  width: 100%;
  height: 95rem;
}

.index .banner .banner2 {
  position: relative;
  /* The image used */
  background-image: url("../img/coffee2.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* Add the blur effect */
  /* Full height */
  width: 100%;
  height: 100rem;
}

.index .banner .banner3 {
  /* The image used */
  background-image: url("../img/coffee6.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  /* Add the blur effect */
  /* Full height */
  width: 100%;
  height: 225rem;
}

.index .banner .banner4 {
  /* The image used */
  background-image: url("../img/coffee8.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* Add the blur effect */
  /* Full height */
  width: 100%;
  height: 90rem;
}

.index .HOME {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  top: 30rem;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 72rem;
  height: 44rem;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #487448cc;
}

.index .HOME h1 {
  padding: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #ffe4e4;
  font-size: 10rem;
}

.index .HOME span {
  padding: 1rem;
  -webkit-text-stroke: 1.5px #fffffe;
  -webkit-text-fill-color: transparent;
}

.index .HOME .pic {
  background-image: url("../img/huei.jpg");
  background-size: cover;
  background-position: 27% 0px;
  width: 50rem;
  height: 100%;
  border-top-right-radius: 30px;
  border-left: 5px solid white;
}

.index .introduce {
  position: fixed;
  z-index: 3;
  padding: 5rem 4rem;
  top: 95rem;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 50rem;
  height: 43rem;
  background-color: #487448f3;
  -webkit-box-shadow: rgba(10, 9, 9, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(10, 9, 9, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.index .introduce .title {
  -webkit-text-stroke: 1px #fffffe;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 7rem;
  color: #ffe4e4;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.index .introduce .container {
  color: #ffe4e4;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 500;
}

.index .introduce .container ul li {
  list-style: none;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.index .introduce .container p {
  margin: 2rem auto;
  font-size: 1.5rem;
}

.index .PROFESSIONAL {
  position: fixed;
  top: 140rem;
  right: 50%;
  width: 50rem;
  height: 20rem;
  padding: 1rem;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background-color: #2a442ad3;
  outline: 1px solid white;
  color: #ffe4e4;
}

.index .PROFESSIONAL h1 {
  font-size: 6rem;
}

.index .PROFESSIONAL p {
  font-size: 1.5rem;
}

.index .PROFESSIONAL #progressBar {
  margin-top: 7rem;
  padding: 2rem 2rem 0;
}

.index .PROFESSIONAL #progressBar .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5rem;
}

.index .PROFESSIONAL #progressBar .item .label {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 18rem;
  text-align: left;
  font-size: 3rem;
}

.index .PROFESSIONAL #progressBar .item .bar {
  -webkit-box-flex: 9;
      -ms-flex-positive: 9;
          flex-grow: 9;
  width: 13rem;
}

.index .portfolio {
  position: fixed;
  top: 225rem;
  right: 50%;
  width: 50rem;
  height: 18rem;
  padding: 1rem;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background-color: #2a442ad3;
  outline: 1px solid white;
  color: #ffe4e4;
}

.index .portfolio h1 {
  font-size: 6rem;
}

.index .portfolio p {
  font-size: 1.5rem;
}

.index .experience {
  position: fixed;
  top: 380rem;
  right: 50%;
  width: 50rem;
  height: 18rem;
  padding: 1rem;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background-color: #2a442ad3;
  outline: 1px solid white;
  color: #ffe4e4;
}

.index .experience h1 {
  font-size: 6rem;
}

.index .experience p {
  font-size: 1.5rem;
}

.index .experience #progressBar {
  position: relative;
  margin: 30rem 0 0 0;
  top: 25rem;
  right: 12rem;
  width: 70rem;
  height: 50px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.index .experience #progressBar div {
  width: 100%;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -20px;
  background: white;
}

.index .experience #progressBar div p {
  position: absolute;
  display: inline-block;
  background: #4e9e4e;
  height: 10px;
  width: 100%;
  -webkit-animation: bgLoad 5.5s linear;
}

@-webkit-keyframes bgLoad {
  0% {
    width: 0%;
  }
  18.18%, 27.27% {
    width: 25%;
  }
  45.45%, 54.54% {
    width: 50%;
  }
  72.72%, 81.81% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}

.index .experience #progressBar > p {
  position: absolute;
  top: 0;
  margin-top: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  margin-left: -20px;
  color: #fff;
}

@-webkit-keyframes circleLoad_1 {
  0%, 66.66% {
    background: white;
  }
  100% {
    background: #4e9e4e;
  }
}

@-webkit-keyframes circleLoad_2 {
  0%, 83.34% {
    background: white;
  }
  100% {
    background: #4e9e4e;
  }
}

@-webkit-keyframes circleLoad_3 {
  0%, 88.88% {
    background: white;
  }
  100% {
    background: #4e9e4e;
  }
}

@-webkit-keyframes circleLoad_4 {
  0%, 91.67% {
    background: white;
  }
  100% {
    background: #4e9e4e;
  }
}

.index .experience #progressBar p:nth-child(2) {
  left: 0%;
  background: #4e9e4e;
}

.index .experience #progressBar p:nth-child(3) {
  left: 25%;
  background: #4e9e4e;
  -webkit-animation: circleLoad_1 1.5s ease-in;
}

.index .experience #progressBar p:nth-child(4) {
  left: 50%;
  background: #4e9e4e;
  -webkit-animation: circleLoad_2 3s ease-in;
}

.index .experience #progressBar p:nth-child(5) {
  left: 75%;
  background: #4e9e4e;
  -webkit-animation: circleLoad_3 4.5s ease-in;
}

.index .experience #progressBar p:nth-child(6) {
  left: 100%;
  background: #4e9e4e;
  -webkit-animation: circleLoad_4 6s ease-in;
}

.index .contact {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 510rem;
  right: 50%;
  width: 50rem;
  height: 24rem;
  padding: 1rem;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background-color: #2a442ad3;
  color: #ffe4e4;
}

.index .contact .container {
  width: 50%;
}

.index .contact .container h3 {
  font-size: 6rem;
}

.index .contact .container p {
  font-size: 1.5rem;
}

.index .contact .inputInform {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.index .contact .inputInform #name {
  width: 50%;
}

.index .contact .inputInform #phone {
  width: 50%;
}

.index .contact .inputInform #email {
  width: 100%;
}

.index .contact .inputInform #message {
  width: 100%;
}

.index .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #203320c5;
}
/*# sourceMappingURL=style.css.map */