* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 3px solid black;
}

body {
  margin: 0 auto;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: bolder;
}

.index {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.index .header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  background-color: #476147;
}

.index .header .logo {
  margin-left: 2rem;
  font-size: 3rem;
  -webkit-text-stroke: 1px #fffffe;
  -webkit-text-fill-color: transparent;
}

.index .header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.index .header .menu li {
  list-style: none;
}

.index .header .menu li a {
  padding: 0 0 0 0.5rem;
  margin: 0 2rem;
  font-size: 1.3rem;
  text-decoration: none;
  border-left: 3px solid rgba(39, 66, 46, 0.747);
  color: silver;
  background: #ffe4e4;
  -webkit-background-clip: text;
  background-clip: text;
}

.index .header .menu li a:hover {
  font-size: 1.4rem;
  color: white;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-transition: 200ms;
  transition: 200ms;
  border-left: 3px solid rgba(121, 231, 150, 0.747);
}

.index .header .container {
  visibility: hidden;
  display: block;
  cursor: pointer;
  position: absolute;
  width: 4rem;
  right: 1rem;
}

.index .header .bar1,
.index .header .bar2,
.index .header .bar3 {
  width: 35px;
  height: 5px;
  background-color: #8daf92;
  margin: 6px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.index .header .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.index .header .change .bar2 {
  opacity: 0;
}

.index .header .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media screen and (max-width: 890px) {
  .index .header .container {
    visibility: visible;
  }
  .index .header .menu {
    display: inline-block;
    position: absolute;
    width: 100%;
    top: 4rem;
    background: #2d442d;
    z-index: 100;
  }
  .index .header .menu li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 2rem auto;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #475f45;
  }
  .index .header .menu li a {
    font-size: 1.5rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-left: 3px solid rgba(140, 148, 144, 0.747);
  }
  .index .header .menu li a:hover {
    font-size: 2rem;
    color: #fff;
  }
}

.index .banner {
  /* The banner filter */
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
  width: 100%;
}

.index .banner .banner1 {
  /* The image used */
  background-image: url("../img/coffee4.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* Add the blur effect */
  /* Full height */
  width: 100%;
  height: 95rem;
}

.index .banner .banner2 {
  position: relative;
  /* The image used */
  background-image: url("../img/coffee2.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* Add the blur effect */
  /* Full height */
  width: 100%;
  height: 105rem;
}

.index .banner .banner3 {
  /* The image used */
  background-image: url("../img/coffee6.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  /* Full height */
  width: 100%;
  height: 243rem;
}

.index .banner .banner4 {
  /* The image used */
  background-image: url("../img/coffee8.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* Add the blur effect */
  /* Full height */
  width: 100%;
  height: 30rem;
}

.index .HOME {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  top: 35rem;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 72rem;
  height: 44rem;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #487448cc;
}

@media screen and (max-width: 890px) {
  .index .HOME {
    width: 80%;
    display: inline;
  }
}

.index .HOME h1 {
  padding: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #ffe4e4;
  font-size: 10rem;
}

@media screen and (max-width: 890px) {
  .index .HOME h1 {
    font-size: 5rem;
    margin-left: 2rem;
  }
  .index .HOME h1:first-child {
    margin-bottom: -4rem;
  }
}

.index .HOME span {
  padding: 1rem;
  -webkit-text-stroke: 1.5px #fffffe;
  -webkit-text-fill-color: transparent;
}

.index .HOME .pic {
  background-image: url("../img/huei.jpg");
  background-size: cover;
  background-position: 27% 0px;
  width: 50rem;
  height: 100%;
  border-top-right-radius: 30px;
  border-left: 5px solid white;
}

@media screen and (max-width: 890px) {
  .index .HOME .pic {
    width: 100%;
    height: 30rem;
    border-top: 5px solid white;
    border-left: 0;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 30px;
  }
}

@media screen and (max-width: 375px) {
  .index .HOME .pic {
    height: 23.5rem;
  }
}

@media (max-width: 703px) {
  .index .HOME .pic {
    height: 23.5rem;
  }
}

.index .introduce {
  position: absolute;
  z-index: 3;
  padding: 5rem 0 2rem 0;
  top: 95rem;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 58rem;
  height: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  background-color: #487448f3;
  -webkit-box-shadow: rgba(10, 9, 9, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(10, 9, 9, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@media screen and (max-width: 890px) {
  .index .introduce {
    width: 80%;
  }
}

.index .introduce .title {
  -webkit-text-stroke: 1px #fffffe;
  -webkit-text-fill-color: transparent;
  text-align: center;
  height: 4rem;
  font-size: 7rem;
  color: #ffe4e4;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.index .introduce .container {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #ffe4e4;
  font-weight: 500;
}

.index .introduce .container ul {
  width: 100%;
}

.index .introduce .container ul li {
  list-style: none;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.index .introduce .container p {
  margin: 2rem 0 3rem 0;
  font-size: 1.7rem;
}

.index .PROFESSIONAL {
  position: absolute;
  margin-top: 3rem;
  top: 40rem;
  right: 50%;
  width: 50rem;
  height: 20rem;
  padding: 1rem;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  outline: 3px solid white;
  color: #ffe4e4;
}

.index .PROFESSIONAL h1 {
  font-size: 6rem;
}

.index .PROFESSIONAL h1:nth-child(2) {
  margin-top: -1rem;
}

.index .PROFESSIONAL p {
  font-size: 1.5rem;
}

@media screen and (max-width: 890px) {
  .index .PROFESSIONAL {
    background-color: #8b8b8b;
    width: 80%;
    height: 18rem;
  }
  .index .PROFESSIONAL h1 {
    font-size: 5rem;
  }
  .index .PROFESSIONAL h1:nth-child(2) {
    background-color: red;
    font-size: 5rem;
  }
}

@media screen and (max-width: 375px) {
  .index .PROFESSIONAL {
    top: 50rem;
    background-color: #ffb4b4;
    height: 15rem;
  }
  .index .PROFESSIONAL h1 {
    font-size: 2rem;
  }
  .index .PROFESSIONAL h1:nth-child(2) {
    background-color: #7c6060;
    font-size: 2rem;
  }
  .index .PROFESSIONAL p {
    font-size: 10px;
  }
}

.index .PROFESSIONAL #progressBar {
  margin-top: 7rem;
  padding: 2rem 1rem;
  width: 100%;
  height: 32rem;
  background-color: rgba(97, 97, 97, 0.233);
}

.index .PROFESSIONAL #progressBar .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 4.5rem;
}

.index .PROFESSIONAL #progressBar .item .label {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 18rem;
  text-align: left;
  font-size: 3rem;
}

.index .PROFESSIONAL #progressBar .item .bar {
  -webkit-box-flex: 9;
      -ms-flex-positive: 9;
          flex-grow: 9;
  width: 13rem;
}

@media screen and (max-width: 890px) {
  .index .PROFESSIONAL #progressBar {
    height: 45rem;
  }
  .index .PROFESSIONAL #progressBar .item {
    display: inline;
  }
  .index .PROFESSIONAL #progressBar .item .label {
    height: 2.5rem;
    margin: 1rem 0;
  }
  .index .PROFESSIONAL #progressBar .item .bar {
    width: 100%;
    padding-bottom: 2rem;
  }
}

.index .portfolio {
  position: absolute;
  top: 220rem;
  right: 50%;
  width: 50rem;
  height: 18rem;
  padding: 1rem;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  outline: 3px solid white;
  color: #ffe4e4;
}

@media screen and (max-width: 768px) {
  .index .portfolio {
    width: 90%;
  }
}

.index .portfolio h1 {
  font-size: 6rem;
}

@media screen and (max-width: 768px) {
  .index .portfolio h1 {
    font-size: 4rem;
  }
}

.index .portfolio p {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .index .portfolio p {
    font-size: 0.5rem;
  }
}

.index #carouselExampleControls {
  position: absolute;
  top: 255rem;
  right: 50%;
  width: 60rem;
  height: 50rem;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .index #carouselExampleControls {
    background-color: #fff;
    width: 90%;
    height: 5%;
  }
}

.index #carouselExampleControls .carousel-inner {
  width: 100%;
}

.index .experience {
  position: absolute;
  top: 307rem;
  right: 50%;
  width: 50rem;
  height: 10rem;
  padding: 1rem;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  outline: 3px solid white;
  color: #ffe4e4;
  /* The actual timeline (the vertical ruler) */
}

.index .experience h1 {
  font-size: 6rem;
}

.index .experience p {
  font-size: 1.5rem;
}

.index .experience .autumn.leaf {
  width: 6rem;
  height: 4rem;
  background-color: aqua;
}

.index .experience .timeline {
  position: relative;
  max-width: 50rem;
  margin: 5rem auto;
  /* The actual timeline (the vertical ruler) */
}

.index .experience .timeline::after {
  content: '';
  position: absolute;
  width: 7px;
  background-color: #c5cac7;
  top: 0;
  bottom: 0;
  left: 50%;
}

.index .experience .timeline .area {
  width: 100%;
  /* Container around content */
  /* The circles on the timeline */
  /* Fix the circle for containers on the right side */
  /* Place the container to the left */
  /* Place the container to the right */
  /* Add arrows to the left container (pointing right) */
  /* Add arrows to the right container (pointing left) */
  /* The actual content */
  /* Media queries - Responsive timeline on screens less than 600px wide */
}

.index .experience .timeline .area .container {
  position: relative;
  width: 50%;
  padding: 10px 40px;
  margin-right: 200rem;
  background-color: inherit;
}

.index .experience .timeline .area .container p {
  margin-top: -1.5rem;
  font-size: 1.2rem;
}

.index .experience .timeline .area .container li {
  margin: 1rem 0;
  font-size: 1.3rem;
  font-weight: 600;
}

.index .experience .timeline .area .container::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  right: -17px;
  background-color: #54b46e;
  border: 4px solid #3e912c;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.index .experience .timeline .area .right::after {
  left: -13px;
}

.index .experience .timeline .area .left {
  left: 0;
}

.index .experience .timeline .area .right {
  left: 50%;
}

.index .experience .timeline .area .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 32px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #267a42;
}

.index .experience .timeline .area .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #267a42 transparent transparent;
}

.index .experience .timeline .area .content {
  width: 18.3rem;
  padding: 20px 20px;
  background-color: #267a42;
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 890px) {
  .index .experience .timeline {
    background-color: #ffb4b4;
    margin: 0 auto;
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .index .experience .timeline {
    background-color: #b62323;
    width: 90%;
  }
}

@media screen and (max-width: 375px) {
  .index .experience .timeline {
    background-color: #b4fff9;
    width: 90%;
  }
}

.index .contact {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 443rem;
  right: 50%;
  width: 65rem;
  height: 38rem;
  padding: 4rem 2rem;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background-color: #2a442ad3;
  color: #ffe4e4;
}

.index .contact .container {
  width: 50%;
}

.index .contact .container h3 {
  font-size: 6rem;
}

.index .contact .container p {
  font-size: 1.5rem;
}

.index .contact .inputInform {
  width: 50%;
  margin-top: 1rem;
}

.index .contact .inputInform #name {
  width: 50%;
}

.index .contact .inputInform #phone {
  width: 50%;
}

.index .contact .inputInform #email {
  width: 100%;
}

.index .contact .inputInform #message {
  width: 100%;
}

.index .contact .inputInform .btn-primary {
  margin-top: 1rem;
}

.index .contact .inputInform #textarea {
  margin-top: 1.5rem;
}

@media screen and (max-width: 890px) {
  .index .contact {
    display: block;
    width: 80%;
    height: 55rem;
  }
  .index .contact .container {
    width: 100%;
    left: 1rem;
    margin-top: -3rem;
  }
  .index .contact .container h3 {
    font-size: 5rem;
  }
  .index .contact .inputInform {
    width: 100%;
    margin: 2rem auto;
  }
  .index .contact .inputInform .btn {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .index .contact .container h3 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 375px) {
  .index .contact {
    height: 58rem;
  }
  .index .contact .container h3 {
    font-size: 3rem;
  }
}

.index .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #122212c5;
}

.index .footer .logo {
  margin: 0 3rem;
  font-size: 3rem;
  -webkit-text-stroke: 1px #fffffe;
  -webkit-text-fill-color: transparent;
}

.index .footer span {
  margin-right: 5rem;
  color: white;
}
/*# sourceMappingURL=style.css.map */