* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: bolder;
}

.index {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.index .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #122212c5;
}

.index .header .logo {
  margin-left: 2rem;
  font-size: 3rem;
  -webkit-text-stroke: 1px #fffffe;
  -webkit-text-fill-color: transparent;
}

.index .header .title {
  margin: 0 auto;
}

.index .header .title a {
  margin: 0 2rem;
  padding-left: 0.5rem;
  font-size: 1.3rem;
  text-decoration: none;
  border-left: 3px solid rgba(39, 66, 46, 0.747);
  color: silver;
  background: #ffe4e4;
  -webkit-background-clip: text;
  background-clip: text;
}

.index .header .title a:hover {
  font-size: 1.4rem;
  color: white;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-transition: 200ms;
  transition: 200ms;
  border-left: 3px solid rgba(121, 231, 150, 0.747);
}

.index .banner {
  /* The banner filter */
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
  width: 100%;
}

.index .banner .banner1 {
  /* The image used */
  background-image: url("../img/coffee4.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* Add the blur effect */
  /* Full height */
  width: 100%;
  height: 95rem;
}

.index .banner .banner2 {
  position: relative;
  /* The image used */
  background-image: url("../img/coffee2.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* Add the blur effect */
  /* Full height */
  width: 100%;
  height: 105rem;
}

.index .banner .banner3 {
  /* The image used */
  background-image: url("../img/coffee6.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  /* Full height */
  width: 100%;
  height: 243rem;
}

.index .banner .banner4 {
  /* The image used */
  background-image: url("../img/coffee8.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* Add the blur effect */
  /* Full height */
  width: 100%;
  height: 30rem;
}

.index .HOME {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  top: 30rem;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 72rem;
  height: 44rem;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #487448cc;
}

.index .HOME h1 {
  padding: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #ffe4e4;
  font-size: 10rem;
}

.index .HOME span {
  padding: 1rem;
  -webkit-text-stroke: 1.5px #fffffe;
  -webkit-text-fill-color: transparent;
}

.index .HOME .pic {
  background-image: url("../img/huei.jpg");
  background-size: cover;
  background-position: 27% 0px;
  width: 50rem;
  height: 100%;
  border-top-right-radius: 30px;
  border-left: 5px solid white;
}

.index .introduce {
  position: fixed;
  z-index: 3;
  padding: 4rem 4rem;
  top: 95rem;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 50rem;
  height: 43rem;
  background-color: #487448f3;
  -webkit-box-shadow: rgba(10, 9, 9, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(10, 9, 9, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.index .introduce .title {
  -webkit-text-stroke: 1px #fffffe;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 7rem;
  color: #ffe4e4;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.index .introduce .container {
  color: #ffe4e4;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 500;
}

.index .introduce .container ul li {
  list-style: none;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.index .introduce .container p {
  margin: 2rem auto;
  font-size: 1.5rem;
}

.index .PROFESSIONAL {
  position: fixed;
  top: 140rem;
  right: 50%;
  width: 50rem;
  height: 20rem;
  padding: 1rem;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  outline: 3px solid white;
  color: #ffe4e4;
}

.index .PROFESSIONAL h1 {
  font-size: 6rem;
}

.index .PROFESSIONAL p {
  font-size: 1.5rem;
}

.index .PROFESSIONAL #progressBar {
  margin-top: 7rem;
  padding: 3rem 2rem;
  width: 100%;
  height: 32rem;
  background-color: rgba(97, 97, 97, 0.233);
}

.index .PROFESSIONAL #progressBar .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5rem;
}

.index .PROFESSIONAL #progressBar .item .label {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 18rem;
  text-align: left;
  font-size: 3rem;
}

.index .PROFESSIONAL #progressBar .item .bar {
  -webkit-box-flex: 9;
      -ms-flex-positive: 9;
          flex-grow: 9;
  width: 13rem;
}

.index .portfolio {
  position: fixed;
  top: 220rem;
  right: 50%;
  width: 50rem;
  height: 18rem;
  padding: 1rem;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  outline: 3px solid white;
  color: #ffe4e4;
}

.index .portfolio h1 {
  font-size: 6rem;
}

.index .portfolio p {
  font-size: 1.5rem;
}

.index #carouselExampleControls {
  position: fixed;
  top: 253rem;
  right: 50%;
  width: 60rem;
  height: 50rem;
  padding: 1rem;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index #carouselExampleControls .carousel-inner {
  width: 100%;
}

.index .experience {
  position: fixed;
  top: 307rem;
  right: 50%;
  width: 50rem;
  height: 10rem;
  padding: 1rem;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  outline: 3px solid white;
  color: #ffe4e4;
  /* The actual timeline (the vertical ruler) */
  /* The actual timeline (the vertical ruler) */
  /* Container around content */
  /* The circles on the timeline */
  /* Place the container to the left */
  /* Place the container to the right */
  /* Add arrows to the left container (pointing right) */
  /* Add arrows to the right container (pointing left) */
  /* Fix the circle for containers on the right side */
  /* The actual content */
  /* Media queries - Responsive timeline on screens less than 600px wide */
}

.index .experience h1 {
  font-size: 6rem;
}

.index .experience p {
  font-size: 1.5rem;
}

.index .experience .autumn.leaf {
  width: 6rem;
  height: 4rem;
  background-color: aqua;
}

.index .experience .timeline {
  position: relative;
  max-width: 1200px;
  margin: 5rem 0 0 0;
  right: 12rem;
}

.index .experience .timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #c5cac7;
  top: 0;
  bottom: 0;
  left: 75%;
  margin-left: -3px;
}

.index .experience .container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.index .experience .container::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  right: -15px;
  background-color: #54b46e;
  border: 4px solid #3e912c;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.index .experience .left {
  left: 0;
}

.index .experience .right {
  left: 50%;
}

.index .experience .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #267a42;
}

.index .experience .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #267a42 transparent transparent;
}

.index .experience .right::after {
  left: -16px;
}

.index .experience .content {
  width: 18.3rem;
  padding: 20px 20px;
  background-color: #267a42;
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  .index .experience {
    /* Place the timelime to the left */
    /* Full-width containers */
    /* Make sure that all arrows are pointing leftwards */
    /* Make sure all circles are at the same spot */
    /* Make all right containers behave like the left ones */
  }
  .index .experience .timeline::after {
    left: 31px;
  }
  .index .experience .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  .index .experience .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  .index .experience .left::after, .index .experience .right::after {
    left: 15px;
  }
  .index .experience .right {
    left: 0%;
  }
}

.index .contact {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 443rem;
  right: 50%;
  width: 65rem;
  height: 38rem;
  padding: 4rem 2rem;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background-color: #2a442ad3;
  color: #ffe4e4;
}

.index .contact .container {
  width: 50%;
}

.index .contact .container h3 {
  font-size: 6rem;
}

.index .contact .container p {
  font-size: 1.5rem;
}

.index .contact .inputInform {
  width: 50%;
  margin-top: 1rem;
}

.index .contact .inputInform #name {
  width: 50%;
}

.index .contact .inputInform #phone {
  width: 50%;
}

.index .contact .inputInform #email {
  width: 100%;
}

.index .contact .inputInform #message {
  width: 100%;
}

.index .contact .inputInform .btn-primary {
  margin-top: 1rem;
}

.index .contact .inputInform #textarea {
  margin-top: 1.5rem;
}

.index .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #122212c5;
}

.index .footer .logo {
  margin: 0 3rem;
  font-size: 3rem;
  -webkit-text-stroke: 1px #fffffe;
  -webkit-text-fill-color: transparent;
}

.index .footer span {
  margin-right: 5rem;
  color: white;
}
/*# sourceMappingURL=style.css.map */